<!DOCTYPE html>
<html lang="en">

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>   
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
      <header>
          <h1>Desi Tadka</h1>
          <p>
          <img src="images/logo.png" alt="Seneca College"
        style="width:300px;height:200px;"></p>
          <nav>
              <ul>
                  <li><a class="home-button" href="/">Home</a></li>
                  <li><a class="register-button" href="/registration">Registration</a></li>
                  <li><a class="login-button" href="/login">Login</a></li>
                   <li><a class="listing-button" href="/listing">Package Listing</a></li>
              </ul>
          </nav>
      </header>
      <main>
          {{{body}}}
      </main>
      <footer>
          {{footer}}
      </footer>

   
  </body>

</html>
